<section class="staffData">
	<div class="topbar">
		Add New Staff
	</div>
	<div class="entry">
		<form action="" method="post">
			<p class="formline">
				<label for="image">Upload image:</label>
				<input type="file" name="image">
			</p>
			<p class="formline">
				<label for="title">Title:</label>
				<select name="title" id="">
					<option value="1">Mr</option>
					<option value="2">Mrs</option>
					<option value="3">Miss</option>
					<option value="4">Master</option>
				</select>
			</p>
			<p class="formline"><label for="surname">Surname:</label><input type="text" name="surname"></p>
			<p class="formline"><label for="others">Other names:</label><input type="text" name="others"></p>
			<p class="formline"><label for="maidenname">Maiden name:</label><input type="text" name="maidenname"></p>
			<p class="formline">
				<label for="gender">Gender:</label>
				<select name="gender" id="">
					<option value="1">Male</option>
					<option value="2">Female</option>
					<option value="3">Other</option>
				</select>
			</p>
			<p class="formline"><label for="dob">Date of birth:</label><input type="date"></p>
			<p class="formline">
				<label for="mastatus">Marital Status:</label>
				<select name="mastatus" id="">
					<option value="1">Single</option>
					<option value="2">Married</option>
					<option value="3">Divorced</option>
					<option value="4">Separated</option>
				</select>
			</p>
			<p class="formline"><label for="spouse">Spouse name:</label><input type="text" name="spouse"></p>
			<p class="formline"><label for="fchild">Name of first child:</label><input type="text" name="fchild"></p>
			<p class="formline"><label for="phone">Phone:</label><input type="text" name="phone"></p>
			<p class="formline"><label for="email">Email:</label><input type="email" name="email"></p>
			<p class="formline"><label for="department">Department:</label><input type="text" name="department"></p>
			<p class="formline"><button class="btn">Add staff</button></p>
		</form>
	</div>
</section>