<%= image_tag '5.jpg',alt: 'profile',class: 'staffImage' %>
<section class="staffData">
	<div class="topbar">
		<a href="javascript:print()">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 32 32">
			<g id="icomoon-ignore"></g>
			<path d="M8 2h16v4h-16zM30 8h-28c-1.1 0-2 0.9-2 2v10c0 1.1 0.9 2 2 2h6v8h16v-8h6c1.1 0 2-0.9 2-2v-10c0-1.1-0.9-2-2-2zM22 28h-12v-10h12v10zM30.45 11c0 0.801-0.649 1.45-1.45 1.45s-1.45-0.649-1.45-1.45 0.649-1.45 1.45-1.45c0.801 0 1.45 0.649 1.45 1.45z" fill="#333333"></path>
			</svg>
		</a>
	</div>
	<div class="entry">
		<em>staff since 24th March, 2005</em>
		<p><strong>Title:</strong><span>Mr</span></p>
		<p><strong>Surname:</strong><span>Williams</span></p>
		<p><strong>Other names:</strong><span>Curtis K.</span></p>
		<p><strong>Mother's maiden name:</strong><span>Taenarys</span></p>
		<p><strong>Gender:</strong><span>Curtis K.</span></p>
		<p><strong>Date of birth:</strong><span>24-08-1942</span></p>
		<p><strong>marital status:</strong><span>Married</span></p>
		<p><strong>Spouse name:</strong><span>Sydney</span></p>
		<p><strong>Name of first child:</strong><span>Jason</span></p>
		<p><strong>Phone:</strong><span>+234907896543</span></p>
		<p><strong>Email:</strong><span>curtis@vitabiotics.com</span></p>
		<p><strong>Department:</strong><span>Marketing</span></p>
		<p><strong>Designation:</strong><span>Senior staff</span></p>
		<p><strong>Previous employer:</strong><span>Microsoft Inc</span></p>
		<p><strong>Post held:</strong><span>Marketing Manager</span></p>
		<p><strong>Years of duty:</strong><span>1999 - 2005</span></p>
		<p><strong>State of origin:</strong><span>Lagos</span></p>
		<p><strong>Nationality:</strong><span>Arabian</span></p>
		<p><strong>Town:</strong><span>Smallville</span></p>
		<p><strong>Local government area:</strong><span>Obalende</span></p>
		<p><strong>Family house address:</strong><span>A strange house in disney</span></p>
		<p><strong>Permanent Home address:</strong><span>A strange house in disney</span></p>
		<p><strong>Residential address:</strong><span>A strange house in disney</span></p>
		<p><strong>Next of kin:</strong><span>Alan Williams</span></p>
		<p><strong>Address of Next of kin:</strong><span>235, Broad street, Obalende</span></p>
	</div>
</section>