<section class="row-one">
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque delectus consectetur aspernatur laboriosam non, vero praesentium quod aliquam dolore amet.</div>
	<div>Perferendis at corrupti laudantium, quasi adipisci, rerum quaerat nihil minus iusto qui eos illo pariatur quod aut dolores corporis doloremque!</div>
</section>
<section class="row-doubles">
	<h2>Under Construction :D</h2>
	<p>Contains staff data preview, attendance, casual, annual, maternity, and sick leave.</p>
</section>