<section class="row-doubles">
	<h2>Preferences</h2>
	<form>
		<div class="form-row">
			<div><label for="company_name">Company Name</label></div>
			<div><input type="text" name="company_name" placeholder="e.g Microsoft"></div>
		</div>
		<div class="form-row">
			<div><label for="url">Website Frontend URL</label></div>
			<div><input type="url" name="url" placeholder="http://example.com"></div>
		</div>
		<div class="form-row">
			<div><label for="theme">Theme</label></div>
			<div>
				<input type="radio" class="radio" name="theme" id="pink" checked> 
				<label for="pink"><span class="showbox pink"></span></label>
				<input type="radio" name="theme" id="blue"> 
				<label for="blue"><span class="showbox blue"></span></label>
				<input type="radio" name="theme" id="purple">
				<label for="purple"><span class="showbox purple"></span></label>
				<input type="radio" name="theme" id="orange">
				<label for="orange"><span class="showbox orange"></span></label>
				<input type="radio" name="theme" id="iron">
				<label for="iron"><span class="showbox iron"></span></label>
			</div>
		</div>
		<div class="header-display"></div>
		<div class="form-row">
			<div><label for="header">Header Image</label></div>
			<div>
				<input type="file" name="header">
			</div>
		</div>
		<div class="form-row">
			<div><button class="btn-std">Save changes</button></div>
			<div>&nbsp;</div>
		</div>
	</form>
</section>