<section class="row-doubles">
	<!-- Left Pane -->
	<div>
		<div class="title">Loans</div>
		<div class="content pad10">Fastest</div>
	</div>
	<!-- Right Pane -->
	<div>
		<div class="title">Sabbaticals</div>
		<div class="content pad10">Fastest</div>
	</div>
</section>