<section class="row-doubles">
	<h2 class="inline-block">User Settings</h2>
	<a href="adduser.html" title="Add New">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 32 32">
	<g id="icomoon-ignore"></g>
	<path d="M31 12h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552 0-1 0.448-1 1v11h-11c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1h11v11c0 0.552 0.448 1 1 1h6c0.552 0 1-0.448 1-1v-11h11c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1z"></path>
	</svg>
	</a>
	<form method="post" action="">
		<div class="form-row">
			<div><label for="fname">Firstname</label></div>
			<div><input type="text" name="fname" placeholder="e.g Johnny"></div>
		</div>
		<div class="form-row">
			<div><label for="lname">Lastname</label></div>
			<div><input type="text" name="lname" placeholder="e.g Springsberg"></div>
		</div>
		<div class="form-row">
			<div><label for="username">Username</label></div>
			<div><input type="text" name="username" placeholder="e.g jsprings"></div>
		</div>
		<div class="form-row">
			<div><label for="email">Email</label></div>
			<div><input type="email" name="email" placeholder="e.g johnny@paddlefoot.com"></div>
		</div>
		<div class="form-row">
			<div><label for="image">Upload image</label></div>
			<div><input type="file" name="image"></div>
		</div>
		<div class="form-row">
			<div><button class="btn">Save settings</button></div>
			<div>&nbsp;</div>
		</div>
	</form>
	<h3>Change Password</h3>
	<form action="" method="post">
		<div class="form-row">
			<div><label for="oldpass">Old Password</label></div>
			<div><input type="password" name="oldpass"></div>
		</div>
		<div class="form-row">
			<div><label for="newpass">New Password</label></div>
			<div><input type="password" name="newpass"></div>
		</div>
		<div class="form-row">
			<div><button class="btn">Update Password</button></div>
			<div>&nbsp;</div>
		</div>
	</form>
</section>