<section class="row-doubles" id="department-list">
	<h1>All Sabbatical Records</h1>
	<ul class="broken-list list">
		<% @sabbatical.map do |sabbatical| %>
		<li class="dotted deptname">
			<strong><%= "#{Staff.find(sabbatical.staff_id).surname} #{Staff.find(sabbatical.staff_id).othernames}" %></strong>
			<span><%= "#{sabbatical.category} leave" %></span>
			<time>From: <%= sabbatical.commence_date.strftime('%e %B, %Y') %></time>
			<%= link_to '<button>View detailed</button>'.html_safe, sabbatical_path(sabbatical.id), class: 'link', style: 'top: 5px' %>
		</li>
		<% end %>
	</ul>
	<ul class="pagination"></ul>
</section>