@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 4, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
html, button, input, select, textarea {
  color: #222222;
}

/* line 8, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i */
/* line 15, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
/* line 22, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers */
/* line 33, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
audio, canvas, img, video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
/* line 39, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas. */
/* line 47, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
textarea {
  resize: vertical;
}

/*   Browse Happy prompt */
/* line 53, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}
/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/*  Image replacement */
/* line 7, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 15, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 22, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.fr {
  float: right;
}

/* line 26, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.fl {
  float: left;
}

/* line 30, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.pad10 {
  padding: 10px;
}

/* line 34, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.pad20 {
  padding: 20px;
}

/* line 38, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.topmag10 {
  margin-top: 10px;
}

/* line 42, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.topmag20 {
  margin-top: 20px;
}

/* line 46, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-cool-blue.background-cool-blue.background-cool-blue {
  background: #1bbae1;
}

/* line 50, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-deep-orange.background-deep-orange {
  background: #ee2222;
}

/* line 54, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-money-green.background-money-green {
  background: #22bb55;
}

/* line 58, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-pure-orange.background-pure-orange {
  background: #ee6611;
}

/* line 62, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.color-white {
  color: white;
}

/* line 66, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.middle-block {
  display: block;
  margin: 0 auto;
}

/* line 71, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.inline-block {
  display: inline-block;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 78, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 89, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 99, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
/* line 103, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 108, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 112, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ghost {
  display: none;
}

/* line 116, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtright {
  text-align: right;
}

/* line 120, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtleft {
  text-align: left;
}

/* line 124, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtcenter {
  text-align: center;
}
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 4, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
html, button, input, select, textarea {
  color: #222222;
}

/* line 8, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight: h5bp.com/i */
/* line 15, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */
/* line 22, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers */
/* line 33, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
audio, canvas, img, video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
/* line 39, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas. */
/* line 47, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
textarea {
  resize: vertical;
}

/*   Browse Happy prompt */
/* line 53, /var/www/projects/vitabiotics/app/assets/stylesheets/_h5bp.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* line 10, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 19, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 62.5%;
}

/* line 25, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: #eeeeee;
  font-size: 1.5em;
  color: #888888;
}

/* line 33, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
*:focus {
  outline: 3px solid rgba(62, 184, 179, 0.2);
}

/* line 37, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
::selection {
  background: #999999;
  color: white;
}

/* line 42, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar {
  background: #272a33;
  width: 15%;
  position: fixed;
  height: 100%;
  text-align: center;
}
/* line 48, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar header {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 2px 3px #555555;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 55, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 4px rgba(255, 255, 255, 0.5);
}
/* line 61, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > h3, .sidebar > h4 {
  color: white;
}
/* line 64, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > h3 {
  margin-bottom: 2px;
}
/* line 67, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > h4 {
  margin-top: 2px;
  font-weight: 300;
}
/* line 71, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul {
  list-style-type: none;
  padding: 0;
  color: #767e96;
}
/* line 75, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul li {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  position: relative;
}
/* line 80, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul li.active {
  background: url(/assets/pointer.png) #18191f no-repeat right;
  background-size: 20px;
}
/* line 84, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul li:hover {
  background: #18191f;
}
/* line 87, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul li a {
  display: block;
  padding: 20px 10px 20px 50px;
  line-height: 10px;
}
/* line 93, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.sidebar > ul svg {
  fill: #767e96;
  position: absolute;
  top: 12px;
  left: 20px;
}

/* line 102, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header {
  background: rgba(221, 17, 66, 0.9);
  color: white;
  height: 60px;
  position: relative;
  -ms-input-placeholder-color: white;
  -ms-input-placeholder-font-size: 14px;
  -ms-input-placeholder-font-family: "Roboto Condensed";
  -ms-input-placeholder-padding-bottom: 30px;
}
/* line 107, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header input[type="text"] {
  border: none;
  position: absolute;
  vertical-align: bottom;
  bottom: 10px;
  left: 10px;
  color: white;
  background: url(/assets/search-icon-white-sm.png) no-repeat;
  background-color: transparent;
  background-size: 15px;
  height: 20px;
  font-weight: 300;
  padding: 0 0 5px 20px;
}
/* line 120, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header input[type="text"]:focus, header input[type="text"]:active {
  outline: none;
  border-bottom: solid thin white;
}
/* line 125, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header ::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  font-family: "Roboto Condensed";
  padding-bottom: 30px;
}
/* line 131, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header ::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-family: "Roboto Condensed";
  padding-bottom: 30px;
}
/* line 143, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
header input:-moz-placeholder {
  color: white;
  font-size: 14px;
  font-family: "Roboto Condensed";
  padding-bottom: 30px;
}

/* line 151, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board {
  float: right;
  width: 85%;
}
/* line 155, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board header ul {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
}
/* line 162, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board header ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 100%;
  text-align: center;
}
/* line 169, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board header ul li a {
  display: block;
  padding: 17px;
}
/* line 172, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board header ul li a:hover {
  background: #d1113f;
}
/* line 176, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.board header ul li svg {
  fill: rgba(255, 255, 255, 0.8);
}

/* line 184, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.head-image {
  height: 200px;
  position: relative;
  background: url(/assets/abstract.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* line 191, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.head-image .layer {
  height: inherit;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
/* line 197, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.head-image h2 {
  color: white;
  padding-left: 20px;
}

/* line 203, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"], [class*=" row-"] {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 12, /usr/local/lib/ruby/gems/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
[class^="row-"]:after, [class*=" row-"]:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 208, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] > div .content, [class*=" row-"] > div .content {
  background: white;
  border: solid 1px #dddddd;
}
/* line 213, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .title, [class*=" row-"] .title {
  background: #dd1142;
  color: white;
  height: 50px;
  padding: 15px 10px;
}
/* line 219, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .accord-style, [class*=" row-"] .accord-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
}
/* line 224, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .accord-style li, [class*=" row-"] .accord-style li {
  border: solid thin #dddddd;
  margin-bottom: 5px;
  padding: 5px 10px;
}
/* line 228, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .accord-style li:hover, [class*=" row-"] .accord-style li:hover {
  background: #eeeeee;
}
/* line 232, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .accord-style ul, [class*=" row-"] .accord-style ul {
  list-style-type: none;
}
/* line 234, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
[class^="row-"] .accord-style ul li:before, [class*=" row-"] .accord-style ul li:before {
  content: url(/assets/svg/tag.svg);
  margin-right: 10px;
}

/* line 243, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-doubles > div {
  width: 48%;
  float: left;
  margin-right: 1.69492%;
  background: none;
}

/* line 250, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-one > div {
  width: 48%;
  float: left;
  margin-right: 1.69492%;
  height: 150px;
  padding: 10px;
  background: white;
  border: solid 1px #dddddd;
}

/* line 260, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-two > div {
  width: 23.2%;
  float: left;
  margin-right: 1.69492%;
  height: 100px;
  padding: 10px;
  text-align: right;
  position: relative;
  padding-right: 20px;
  background: white;
  border: solid 1px #dddddd;
}
/* line 269, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-two > div > svg {
  background: #dddddd;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}
/* line 279, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-two > div > h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: black;
}
/* line 283, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.row-two > div > h3:hover {
  color: #666666;
}

/* line 290, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.form-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 10px 0;
  min-height: 50px;
}
/* line 12, /usr/local/lib/ruby/gems/2.1.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.form-row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 295, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.form-row > div:first-of-type {
  width: 20%;
  float: left;
  margin-right: 1.69492%;
  font-weight: 700;
}
/* line 300, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.form-row input[type="url"], .form-row input[type="text"], .form-row input[type="email"], .form-row input[type="password"] {
  height: 30px;
  width: 400px;
  border: solid 1px #dddddd;
  box-shadow: 1px 0 2px #aaaaaa inset;
  padding: 2px 5px;
}

/* line 309, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.pink {
  background: #dd1142;
}

/* line 313, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.blue {
  background: #1bbae1;
}

/* line 317, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.orange {
  background: #ee6611;
}

/* line 321, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.purple {
  background: #aa55cc;
}

/* line 325, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.iron {
  background: #dadbdf;
}

/* line 329, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.showbox {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

/* line 336, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
button.btn {
  color: white;
  border: solid thin #9bc1f5;
  background: #1166aa;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* line 343, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
button.btn:hover {
  background: #1166aa;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  color: #eeeeee;
}

/* line 350, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 354, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.clean-list li {
  border: solid thin #eeeeee;
  padding: 10px;
}

/* line 360, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.read-more {
  margin-top: 10px;
  border: solid thin #eeeeee;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
/* line 366, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.read-more:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* line 371, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.inline-block + a > svg {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  background: #555555;
  fill: white;
  border-radius: 50%;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}

/* line 383, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
h2.inline-block {
  line-height: 10px;
}

/* line 387, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings {
  width: 98%;
  background: white;
  margin: 10px 0px 10px 0px;
  border: solid thin #dddddd;
}
/* line 393, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings thead th {
  text-align: left;
  border-bottom: solid thin #dddddd;
}
/* line 398, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th, .listings td {
  padding: 8px 5px;
}
/* line 400, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th strong, .listings td strong {
  display: block;
}
/* line 403, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th span, .listings td span {
  font-size: 12px;
  padding: 0 10px;
}
/* line 406, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th span:first-of-type, .listings td span:first-of-type {
  padding-left: 0 !important;
  color: #ee6611;
}
/* line 410, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th span:nth-of-type(2), .listings td span:nth-of-type(2) {
  color: #3366aa;
}
/* line 413, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th span:last-of-type, .listings td span:last-of-type {
  color: red;
}
/* line 416, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th span:not(:last-child), .listings td span:not(:last-child) {
  border-right: solid thin #cccccc;
}
/* line 420, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings th:first-of-type, .listings td:first-of-type {
  width: 4%;
}
/* line 424, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings tbody {
  color: #272a33;
}
/* line 426, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.listings tbody tr:nth-child(odd) {
  background: #eeeeee;
}

/* line 432, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.header-display {
  display: block;
  margin-bottom: 10px;
  background: url(/assets/abstract.jpg);
  background-size: cover;
  width: 80%;
  border: solid 4px #cccccc;
  height: 100px;
}

/* line 442, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffImage {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border: solid 3px #888888;
  overflow: hidden;
  border-radius: 50%;
}

/* line 453, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData {
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  width: 800px;
  border: solid thin #bbbbbb;
}
/* line 459, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .topbar {
  background: #eeeeee;
  height: 40px;
  border-bottom: solid thin #bbbbbb;
  padding: 6px 10px;
}
/* line 464, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .topbar svg {
  float: right;
}
/* line 468, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .entry {
  padding: 20px 10px;
}
/* line 470, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .entry > em {
  display: block;
  margin-bottom: 10px;
  color: #dd1142;
}
/* line 475, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .entry p:not(.formline) {
  margin: 0;
  border-top: solid thin #bbbbbb;
  padding: 10px 0;
  position: relative;
}
/* line 480, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.staffData .entry p:not(.formline) span {
  position: absolute;
  left: 200px;
}

/* line 488, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.formline {
  position: relative;
}
/* line 490, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.formline input, .formline select {
  position: absolute;
  left: 200px;
}

/* Login Form */
/* line 497, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form {
  background: #fff;
  width: 350px;
  height: 300px;
  margin: 0 auto;
  margin-top: 150px;
  box-shadow: 0 0 10px #555555;
}
/* line 504, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form form {
  padding: 20px 20px;
  font-size: 12px;
}
/* line 508, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 2px 10px;
  height: 40px;
  border: none;
  background: #eeeeee;
  border: solid thin #aaaaaa;
}
/* line 516, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form input:active, .login-form input:focus {
  background: #fff;
}
/* line 520, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form button {
  color: #fff;
  border: solid thin #9bc1f5;
  background: #1166aa;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* line 527, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-form button:hover {
  background: #1166aa;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  color: #eeeeee;
}

/* line 537, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-links {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* line 543, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors {
  height: 5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 548, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 553, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors > div {
  width: 25%;
  float: left;
  margin-right: 1.69492%;
  margin: 0;
  height: 100%;
  background: #b21f1f;
}
/* line 560, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors > div:first-of-type {
  background: #c69;
}
/* line 563, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors > div:nth-of-type(2) {
  background: #9bc1f5;
}
/* line 566, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors > div:nth-of-type(3) {
  background: #76e0a2;
}
/* line 569, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.top-colors > div:last-of-type {
  background: #fab782;
}

/* line 575, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-header {
  height: 80px;
  width: 100%;
  background: url(/assets/logo.png) center no-repeat #dddddd;
  background-size: 100px;
  border-bottom: solid 4px #888888;
}

/* line 583, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-alert {
  background: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
  padding: 10px;
  box-shadow: 0 3px 2px #888888;
  font-size: 12px;
  border-left: solid thick tomato;
}
/* line 595, /var/www/projects/vitabiotics/app/assets/stylesheets/paddlefoot.css.scss */
.login-alert:empty {
  display: none;
}

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/*  Image replacement */
/* line 7, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 15, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 22, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.fr {
  float: right;
}

/* line 26, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.fl {
  float: left;
}

/* line 30, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.pad10 {
  padding: 10px;
}

/* line 34, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.pad20 {
  padding: 20px;
}

/* line 38, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.topmag10 {
  margin-top: 10px;
}

/* line 42, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.topmag20 {
  margin-top: 20px;
}

/* line 46, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-cool-blue.background-cool-blue.background-cool-blue {
  background: #1bbae1;
}

/* line 50, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-deep-orange.background-deep-orange {
  background: #ee2222;
}

/* line 54, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-money-green.background-money-green {
  background: #22bb55;
}

/* line 58, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.background-pure-orange.background-pure-orange {
  background: #ee6611;
}

/* line 62, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.color-white {
  color: white;
}

/* line 66, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.middle-block {
  display: block;
  margin: 0 auto;
}

/* line 71, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.inline-block {
  display: inline-block;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 78, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 89, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 99, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
/* line 103, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 108, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 112, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.ghost {
  display: none;
}

/* line 116, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtright {
  text-align: right;
}

/* line 120, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtleft {
  text-align: left;
}

/* line 124, /var/www/projects/vitabiotics/app/assets/stylesheets/_helpers.scss */
.txtcenter {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

